/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

#testoAlternato {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  border: 2px solid black;
  padding: 5rem;
  font-size: 2rem;
  position: relative;
}
.parole {
  color: red;
}
#testoAlternato .parole i {
  position: absolute;

  opacity: 0;
  animation: 3s forwards;
}

#testoAlternato .parole i {
  animation-name: i;
}

@keyframes i {
  0%,
  20% {
    opacity: 1;
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-50%);
  }
  33.33%,
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

#testoAlternato .parole i:first-of-type(1) {
  animation-delay: 0s;
}

#testoAlternato .parole i:nth-child(2) {
  animation-delay: 2s;
}

#testoAlternato .parole i:nth-child(3) {
  animation-delay: 4s;
}
